<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.css" />

    <title> Events</title>

        <nav class='navbar navbar-dark navbar-expand-sm bg-dark'>
            <span class='navbar-brand mb-0 h2 mx-3'>Event booking</span>
        
            <ul class='navbar-nav'>
                <li class='nav-item active'> <a href="#" class='nav-link'> Events </a> </li>
                <li class='nav-item active'> <a href="#" class='nav-link'> LogOut </a> </li>
                <li class='nav-item active'> <a href="{% url 'main:eventadd' %}" class='nav-link'> Add Event </a> </li>
            </ul>
        </nav>
        
        
</head>
<body>
    
    {% block content %} {% endblock content %}
        
    <footer>
        <div class="container" style="padding: 80px 0;" align="center">

            </a>
        </div>
        <div style="background: #050607;">
            <p style="color: #91BEC2; padding: 15px 0;" align="center">
                &copy; Copyright: <a href="mailto:cesarkamga3@gmail.com">Created By: the world</a>
            </p>
        </div>
    </footer>
    

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    
    
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src = '//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js'></script>

    <script>
        $('.mydatatable').DataTable();
    </script>
</body>
</html>