{% extends 'main/events.html' %}
{% load bootstrap5 %}

{% block content %}

<div class='container text-center py-5'>
    <h1 class='page-header'> Hello {{request.user|title}} </h1>
</div>

<div class="container mx-auto"> 
    <form method= 'get' action="">
        {{events.form}}
        <!-- <input class="form-control py-2 border-right-0 border" type="search" name="title_contains"
            placeholder="Title contains..." />

        <div class="form-group col-md-2 col-lg-2">
            <label for="Agemin">Minimum Age</label>
            <input type="number" min=0 class="form-control" id="Agemin" placeholder="0" name="age_min">
        </div> -->

        <button class="btn btn-primary" type="submit" > Search </button>
    </form>
</div>

<div>
    <table class = 'table table-striped table-bordered mydatatable'>
        <thead >
            <tr>
                <th class='th-sm'>Event</th>
                <th class='th-sm'>Region</th>
                <th class='th-sm'>Age limit</th>
                <th class='th-sm'>Date</th>
                <th class='th-sm'>Available Seats</th>
                <th class='th-sm'>Booked Status</th>
                <th class='th-sm'>Info</th>

            </tr>
        </thead>

        <tbody>

            {% for event in events.qs %}
            
            <tr>
                <td> {{event.title}}</td>
                <td>{{event.location}}</td>
                <td>{{event.age_limit}}</td>
                <td>{{event.event_date}}</td>
                <td>{{event.seats}}</td>
                {% if user in event.guests.all %}
                <td>
                    <div class="task-complete-icon mx-auto my-auto"></div>
                </td>
                {%else%}
                <td>
                    <div class="task-incomplete-icon mx-auto my-auto"></div>
                </td>
                {% endif %}
                <td> <a href="{% url 'main:detail' event.id %}"><button type="button" class="btn btn-outline-info">See detail</button></a></td>
            </tr>
            

            {% empty %}
            <h3> No Event currently available</h3>
            {% endfor %}
        </tbody>
    </table>
</div>
<style>
    .task-complete-icon {
        height: 20px;
        width: 20px;
        background-color: rgb(105, 192, 105);
        border-radius: 50%;
      }

      .task-incomplete-icon {
        height: 20px;
        width: 20px;
        background-color: rgb(218, 218, 218);
        border-radius: 50%;
</style>
{% endblock%}



